.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0D1321;
}
body header nav {
    display: flex;
    justify-content: space-between;
    margin: 35px 150px;
}
.nav-title {
    font-weight: bolder;
    font-size: 28px;
    color: #0D1321;
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
    height: 57px;
    width: 254px;
    border-color: #0D1321;
    font-family: Azeret Mono;
    cursor: pointer;
}
.hero {
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 652px;
}
.hero-content {
    padding: 26px 221px;
}
.hero-pic {
    display: flex;
    justify-content: center;
    padding-top: 13px;
}
.hero-title {
    font-weight: 900;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
    line-height: 68px;
    letter-spacing: 0%;
}
.hero-description {
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-top: 0px;
}
.btn-secondary {
    width: 244px;
    height: 65px;
    background-color: #0D1321;
    color: white;
    font-family: Azeret Mono;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 21px;
    cursor: pointer;
}
.btn-secondary-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.reason {
    margin: 76px 150px;
}
.reason-content {
    padding: 80px 97px;
}
.reason-title {
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}
.reason-subtitle {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 16px;
    text-align: center;
    padding: 48px;
    padding-right: 150px;
    padding-left: 150px;
}
.reason-sec {
    padding: 48px 75px;
}
.reason-sec {
    display: flex;
    justify-content: space-around;
    gap: 99px;
}
.reason-sec-title {
 font-weight: bold;
 font-size: 24px;
 line-height: 36px;
 max-width: 390px;
}
.reason-sec-subtitle {
    font-size: 16px;
    max-width: 468px;
    margin-bottom: 32px;
}
.inspiration {
    margin: 90px 148px;
}
.inspiration-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}
.inspiration-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 24px 292px;
}
.yt-vid {
    text-align: center;
    height: auto;
}
.target {
    margin: 200px;
}
.target-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    
}
.target-subtitle {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 20px 200px;
}
.cards-container-1 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.cards1 {
    width: 364px;
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: fit-content;
    max-width: fit-content;

} 
.bg1 {
    background-color: rgba(255, 76, 30, 0.05);
}
.bg2 {
    background-color: rgba(0, 76, 232, 0.05);
}
.bg3 {
    background-color: rgba(255, 223, 0, 0.05);
}
.cards-container {
    display: block;
}
.cards {
    margin: 75px 1px;
    border-color: rgba(13, 19, 33, 0.15);
    border-style: solid;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.card-title {
    font-weight: 900;
    font-size: 24px;
}
.card-subtitle {
    font-size: 16px;
    line-height: 26px;
}
a {
    font-weight: bold;
    color: #0D1321;
}
.card-img {
    align-content: center;
}
.x {
    padding-top: 141px;
}
footer {
    padding: 0px 200px;
    padding-bottom: 80px;
}
.support {
    background-image: url('assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 16px;
}
.support-text {
    padding: 64px 48px;
}
.support-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    line-height: 36px;
}
.support-subtitle {
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 35px;
}
.feedback {
    display: flex;
    justify-content: center;
    gap: 16px;
}
textarea {
    background-color: white;
    width: 548px;
    font-family: Azeret Mono;
    height: 57px;
    border-radius: 8px;
    font-size: 16px;
    line-height: normal;
}
textarea:placeholder-shown {
    align-content: center;
    padding-left: 20px;
}
.btn-submit {
    width: 120px;
    height: 65px;
}
.contact {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.contact-title {
    font-weight: 600;
    font-size: 20px;
}
.contact-img {
    display: flex;
    gap: 24px;
    padding-right: 85px;
}